/* add your CSS here */
.card {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  border: .1px solid grey;
  padding: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.name{
  padding: 5px;
  border: 5px;
}
img {
  width: 300px;
  padding: 5px 5px 15px 5px;
  border: 5px;
}
span {
  font-weight: bold;
}
.fact{
  font-style: italic;
}
.information{
  border: .1px solid grey;
  padding: 10px 5px 5px 10px;
  box-shadow: 5px 5px 5px #9c9c57;
}
ul{
  list-style: none;
  margin-left: 0px;
  padding: 5px 0 5px 5px;
}
